:root {
  --primary-color: #232559;
  --secondary-color: #ba8f4a;
  --unscroll-header-height: 5cm;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  transition: 0.2s;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

main {
  padding: 0 1rem;
}

#header {
  width: 100%;
  z-index: 99;
  height: 2cm;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0px;
}
#header.unscroll {
  height: var(--unscroll-header-height);
  background-color: transparent;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

#desktop-nav {
  display: none;
}

#desktop-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.3rem;
  list-style: none;
  height: 100%;
  align-items: center;
  padding-left: 0;
}

#desktop-nav ul li a {
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
  text-transform: capitalize;
}

#_logo_ug,
#mb_ug_logo {
  height: 1.2cm;
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
}

#header.unscroll #_logo_ug {
  display: block;
  height: 3cm;
}
#header.unscroll #mb_ug_logo {
  height: 2.5cm;
}
#header.unscroll #desktop-nav ul li a {
  color: var(--primary-color);
}

#mobile-nav {
  display: none;
  justify-content: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
}

#mobile-nav.show {
  display: flex;
}

#mobile-nav ul {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
  align-items: center;
  width: 90%;
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 0;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px var(--primary-color);
  position: relative;
}

#mobile-nav ul li a {
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--primary-color);
  text-transform: capitalize;
}

#mobile-nav ul li a:hover,
#desktop-nav ul li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

#close-btn {
  background-color: transparent;
  position: absolute;
  outline: none;
  border: 0;
  font-size: 35px;
  color: var(--secondary-color);
  cursor: pointer;
  top: 2rem;
  left: 2rem;
}

#search-btn,
#nav-toggler {
  background-color: transparent;
  outline: none;
  border: 0;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

#nav-toggler {
  display: block;
}

#header.unscroll #search-btn,
#header.unscroll #nav-toggler {
  color: var(--primary-color);
}

/* Hero Section */
#hero {
  width: 100%;
  height: 100vh;
  background-color: white;
  margin-top: calc(-1 * var(--unscroll-header-height));
  position: relative;
  overflow: hidden;
}

#overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#overlay-bg h1 {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 28px;
}

#overlay-bg p {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 17px;
  width: 100%;
}

#overview {
  width: 100%;
  padding: 3rem 0rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
}

#overview_text {
  grid-column: span 12 / span 12;
  padding-right: 1rem;
  padding-left: 1rem;
}

#overview_text h2,
#research_context h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
}

#overview_text #h2_p,
#research_context p {
  margin-top: 2rem;
}

#overview_text h3 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 4rem;
}

#program_list {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
}

.program {
  width: 255px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  cursor: pointer;
}

.program_header {
  width: 100%;
  padding: 10px 3px;
  height: 2cm;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  background-size: contain;
  background-blend-mode: multiply;
}
.program:hover .program_header {
  background-image: linear-gradient(
    var(--secondary-color),
    var(--secondary-color)
  );
}
.program_header.short_coures {
  background-image: url("../images/short_courses.png"),
    linear-gradient(#47371d, #69512a, #251d0f);
}

.program_header.ug_coures {
  background-image: url("../images/ug_courses.jpg"),
    linear-gradient(#47371d, #69512a, #251d0f);
}

.program_header.mse_coures {
  background-image: url("../images/masters_courses.jpeg"),
    linear-gradient(#47371d, #69512a, #251d0f);
}

.program_header.phd_coures {
  background-image: url("../images/phd.jpeg"),
    linear-gradient(#47371d, #69512a, #251d0f);
}

.program_desc {
  width: 100%;
  padding: 1rem 4px 1rem 4px;
  text-align: center;
  background-color: transparent;
  overflow: hidden;
  height: 4cm;
}

.program a {
  color: var(--secondary-color);
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

#overview_info {
  grid-column: span 12 / span 12;
  padding: 0 1rem;
}

#contacts_cont {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.5rem;
  gap: 1.5rem;
}

#_title {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

#contacts_cont p:nth-child(2) {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
}

#contacts_cont p:nth-child(3),
#contacts_cont p:nth-child(4) {
  color: white;
  font-weight: 200;
}

#contacts_cont p:nth-child(5) {
  color: var(--secondary-color);
  font-size: 15px;
  font-weight: 500;
}

.no_style {
  list-style-type: none;
  padding: 0;
}

#social_info p {
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
}

#social_icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}

#social_icons li a {
  font-size: 25px;
  color: var(--secondary-color);
}

#contacts_cont button {
  background-color: var(--secondary-color);
  border: 0;
  outline: none;
  padding: 01rem 2rem;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#events h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
}

#events #_p_1 {
  width: 100%;
  margin-top: 1.5rem;
}

#event_container {
  width: 100%;
  margin-bottom: 2rem;
  height: 12cm;
  background-image: url("../images/events_banner.jpg"),
    linear-gradient(
      rgba(0, 0, 0, 0.63),
      rgba(0, 0, 0, 0.247),
      rgba(0, 0, 0, 0.637)
    );
  margin-top: 2rem;
  background-blend-mode: multiply;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

button {
  outline: none;
  border: 0;
}
#event_container a,
#research_context a {
  text-decoration: none;
}
#event_container a button,
#research_context button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#short_course_program {
  margin-top: 3cm;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

#short_course_program h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 20px;
}

#short_course_program #_p_1 {
  width: 100%;
  margin-top: 1.5rem;
}

.short_coures_cont {
  width: 100%;
  padding: 2rem 1rem;
  overflow: hidden;
  cursor: grabbing;
  margin-top: 2rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 8cm;
  cursor: pointer;
  background-color: var(--primary-color);
  padding-bottom: 2rem;
}

.swiper-slide .img_box {
  width: 100%;
  height: 5cm;
  overflow: hidden;
}

.swiper-slide .img_box img {
  width: 100%;
  height: 100%;
}

.swiper-slide:hover .img_box img {
  transform: scale(1.3);
}

.swiper-slide .course_title {
  color: var(--secondary-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.swiper-slide .desc_c {
  color: white;
  font-weight: 300;
  padding: 0 10px;
  font-size: 15px;
}

#short_course_program a {
  text-decoration: none;
  align-self: center;
}
#short_course_program a button {
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 15px;
  background-color: var(--secondary-color);
  color: white;
}

#research {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 4rem;
  padding: 0 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#research #img_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#research #img_box img {
  width: 100%;
  height: 100%;
}

#research_context button {
  margin-top: 2rem;
}

.stories {
  width: 8cm;
  background-color: white;
}

.stories .img_box {
  height: 7cm;
}

.stories .stories_title {
  font-size: 15px;
  text-transform: capitalize;
}

.stories .stories_detailes {
  color: rgb(49, 47, 47);
}

.stories a {
  color: var(--secondary-color);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 1rem;
}

footer {
  width: 100%;
  padding: 2rem 1rem;
  background-color: var(--primary-color);
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 3rem;
  column-gap: 2rem;
}

.footer_el ._header {
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}

.footer_el hr {
  border: 1.5px solid var(--secondary-color);
}

.footer_el ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer_el ul li a {
  text-decoration: none;
  color: rgb(173, 173, 173);
  font-weight: 500;
}

.footer_el ul li a:hover {
  color: white;
  text-decoration: underline;
}

.footer_el ul li {
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#new_letter {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  height: 1.3cm;
}

#new_letter input {
  width: 70%;
  outline: none;
  height: 1.3cm;
  padding: 0 10px;
  font-size: 16px;
  border: 2px solid var(--secondary-color);
  color: rgb(71, 71, 71);
}

#new_letter button {
  width: 30%;
  height: 1.3cm;
  border: 0;
  background-color: var(--secondary-color);
  font-size: 22px;
}

.mt-1rem {
  margin-top: 1rem;
}

.color-white {
  color: white;
}

._event_h2 {
  text-align: center;
}

.event_content {
  width: 100%;
  padding: 0.6rem 5px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.event_content ._event_time {
  width: 100%;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._event_time span {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 15px;
}

._event_time span:nth-child(1) {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--secondary-color);
  font-size: 25px;
}

._event_time hr {
  border: 2px solid var(--secondary-color);
  margin-top: 5px;
  width: 50%;
}

._event_detail {
  width: 100%;
  grid-column: span 9;
}

._event_detail p {
  text-align: start;
  font-size: 15px;
  color: var(--primary-color);
  font-size: 700;
}

.venue_ {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  margin-top: 6px;
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  align-items: center;
}

.venue_ span {
  grid-column: span 8;
}

#current_new.research p{
  text-align: center;
  margin-top: .5rem;
  color: black;
}
