/*
375
425
768
1024
1440 
*/

@media screen and (min-width: 875px) {
  #program_list {
    justify-content: start;
  }
}

@media screen and (min-width: 1024px) {
  #header.unscroll {
    justify-content: center;
  }
  #_logo_ug {
    display: none;
  }
  #mb_ug_logo {
    display: none;
  }
  #desktop-nav {
    display: block;
  }

  #mobile-nav {
    display: none;
  }

  #nav-toggler {
    display: none;
  }

  #overlay-bg {
    padding-bottom: 8rem;
    padding-left: 5rem;
    justify-content: end;
    align-items: flex-start;
  }

  #overlay-bg h1 {
    font-size: 34px;
  }

  #overlay-bg p {
    width: 70%;
  }

  #overview_text {
    grid-column: span 8 / span 12;
  }

  #overview_info {
    grid-column: span 4 / span 12;
  }

  #overview_text h2 {
    font-size: 30px;
  }

  #overview_text h3 {
    font-size: 20px;
  }

  #events h2, #short_course_program h2 {
    font-size: 30px;
  }

  #events #_p_1, #short_course_program #_p_1{
    width: 80%;
  }

}
