/*
375
425
768
1024
1440 
*/

@media screen and (min-width: 1024px) {
  #header.unscroll {
    justify-content: center;
  }
  #_logo_ug {
    display: none;
  }
  #mb_ug_logo {
    display: none;
  }
  #desktop-nav {
    display: block;
  }

  #mobile-nav {
    display: none;
  }

  #nav-toggler {
    display: none;
  }

  #overlay-bg {
    padding-bottom: 8rem;
    padding-left: 5rem;
    justify-content: end;
    align-items: flex-start;
  }

  #overlay-bg h1 {
    font-size: 34px;
  }

  #overlay-bg p {
    width:70%;
  }

}
