<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About CS Department | University Of Ghana</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script
      src="https://kit.fontawesome.com/e9f5458810.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/mediaquery.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />
  </head>
  <body>
    <!-- Navigation bar starts here -->
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About CS Department | University Of Ghana</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script
      src="https://kit.fontawesome.com/e9f5458810.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/mediaquery.css" />
    <link rel="stylesheet" href="../assets/css/about.css" />
  </head>
  <body>
    <!-- Navigation bar starts here -->
    <header id="header" class="unscroll">
      <button id="nav-toggler">
        <i class="fa-solid fa-bars"></i>
      </button>
      <nav id="desktop-nav" class="nav">
        <ul>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="./about.html"> About </a>
          </li>
          <li>
            <a href="./contacts.html"> Contact </a>
          </li>
          <li>
            <a href="./news.html"> News </a>
          </li>
          <li>
            <a href="./events.html"> events </a>
          </li>
          <li>
            <a href="../index.html">
              <img
                src="../assets/images/ug_logo.png"
                alt="ug_log"
                id="_logo_ug"
              />
            </a>
          </li>
         
          <li>
            <a href="./researchs.html"> Research </a>
          </li>
          <li>
            <a href="./faculty.html"> Faculty </a>
          </li>
          <li>
            <a href="./projects.html"> Projects </a>
          </li>
          <li>
            <a href="./gallery.html"> Gallery </a>
          </li>
          <li>
            <a href="./resources.html"> Resources </a>
          </li>
        </ul>
      </nav>
      <a href="../index.html">
        <img src="../assets/images/ug_logo.png" alt="ug_log" id="mb_ug_logo" />
      </a>
      <nav id="mobile-nav" class="nav">
        <ul>
          <button id="close-btn" type="button">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="./about.html"> About </a>
          </li>
          <li>
            <a href="./contacts.html"> Contact </a>
          </li>
          <li>
            <a href="./news.html"> News </a>
          </li>

          <li>
            <a href="./events.html"> events </a>
          </li>
          <li>
            <a href="./researchs.html"> Research </a>
          </li>
          <li>
            <a href="./faculty.html"> Faculty </a>
          </li>
          <li>
            <a href="./projects.html"> Student Projects </a>
          </li>
          <li>
            <a href="./gallery.html"> Gallery </a>
          </li>
          <li>
            <a href="./resources.html"> Resources </a>
          </li>
        </ul>
      </nav>
      <button type="button" id="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </header>
    <!-- Navigation bar ends here -->
    <!-- Navigation bar ends here -->
    <section id="hero" class="_about_hero">
      <div id="overlay-bg" class="about">
        <h1>ABOUT DEPARTMENT OF COMPUTER SCIENCE</h1>
      </div>
    </section>

    <main>
      <section id="overview">
        <section id="overview_text" class="about">
          <h2>Welcome to UG Computer Science Department</h2>
          <p id="h2_p">
            This is the Information Technology age and at its core is Computer
            Science. The study of computer science is therefore critical if
            society is to take full advantage of the benefits Information
            Technology has to offer and make rapid economic advances. Computer
            science involves the study and development of applications that
            allow for our everyday use of computers, the software systems that
            support these applications, and the means and methods used to
            produce both applications and systems that behave reliably,
            correctly and ethically. At the heart of Computer Science lies the
            skill of computer programming and employers who hire Computer
            Scientists expect adept programmers with knowledge of current
            techniques and tools and the ability to apply sound engineering
            principles to the development, construction and maintenance of
            computer programs. <br />
            <br />

            The range of courses available in the department and the skills
            acquired by students enable them to find employment in many diverse
            fields of the economy and prepare our graduates for the computing
            industry, working in a project team (or research and development
            team), and to enable the graduate to bring specialist skills to that
            team. The course also provides the platform for further study or
            research through exposure to established and emerging technologies
            and methods, and to active fields of research in Computer Science.
            <br />
            <br />

            The Department offers two undergraduate degree programmes, Bachelor
            of Science in Computer Science Single-Major (3:2:1:1) and
            Major-Minor (3:2:2:1) as well as Bachelor of Science in Information
            Technology.
          </p>
          <h3>Mission</h3>
          <p>
            To provide a dynamic and comprehensive education in computer
            science, fostering innovation, critical thinking, and ethical
            practice. We aim to empower students with the knowledge, skills, and
            adaptability necessary to thrive in a rapidly evolving technological
            landscape. Through rigorous academics, cutting-edge research, and
            community engagement, we strive to cultivate leaders who drive
            positive change and contribute meaningfully to society.
          </p>

          <h3>vision</h3>
          <p>
            Shaping the future of technology through excellence in education,
            research, and community impact. We envision a Computer Science
            Department at the University of Ghana that is a global leader in
            producing forward-thinking professionals and groundbreaking
            research, dedicated to advancing the boundaries of computing and
            addressing real-world challenges. Our vision is to be a catalyst for
            innovation, driving transformative change at the intersection of
            technology and society.
          </p>
          <br /><br />
          <h2>Get To Know Us</h2>
          <p>
            Things get interesting because you are eager to know more , or you
            become eager to know more because it is interesting?
          </p>

          <h3>Our Organization</h3>
          <p>
            The University of Ghana is one of the Africa's most preeminent
            public universities. Our impact on individuals, our region and the
            world is profound. whether we are launching young people into a
            boundless future or confronting the grand challenges of our time
            through dauntless research. UG educates more than 38,000students
            annually, with approximately 2.64% being computer science students.
            We turn ideas into impact and transform the world around us. For
            more about our impact, visit our news site, UG News.
          </p>

          <h3>Our Community</h3>
          <p>
            If you are inspired by a big challenge, you've come to the right
            place! The computer science community at the univrersity of Ghana
            encourages it's people to be vibrant and brave in taking on new
            challenges that push boundries beyond imagination.
          </p>

          <h3>Distance Learning</h3>
          <p>
            So what defines our students, faculty and community members? Above
            all, its our belief in the infinite possibilitie and our unshakable
            optimism. Its a connection to others near and far. A hunger for
            socio-economic transformation that pushes us to tackle challenges
            and pursue progress. Its the conviction that together we can create
            a world of good. Join us on the journey.
          </p>
        </section>
      </section>
    </main>


    <footer>
      <div class="footer_el aca">
        <p class="_header">Academics</p>
        <hr />
        <ul class="no_style">
          <li><a href="/undergrad-course">Undergraduate Courses</a></li>
          <li>
            <a href="/mphil-course">Graduate Courses(MPhil Computer Science)</a>
          </li>
          <li>
            <a href="/msc-course">Graduate Courses(MSc Computer Science)</a>
          </li>
          <li><a href="/phd-course">Graduate Courses(PhD)</a></li>
          <li>
            <a href="https://www.ug.edu.gh/academics/calendar"
              >Academic Calendar</a
            >
          </li>
          <li>
            <a
              href="img/_DEPARTMENT OF COMPUTER SCIENCE, UG - 200 &amp; 300.pdf"
              >Level 200 &amp; 300 Timetable</a
            >
          </li>
          <li>
            <a href="img/_Placements lvl200.pdf"
              >Placements For Level 200 Students</a
            >
          </li>
          <li>
            <a href="https://forms.gle/smoyM5M3HWaayagk7"
              >Student Complaint Form</a
            >
          </li>
        </ul>
      </div>

      <div class="footer_el aca">
        <p class="_header">Admissions</p>
        <hr />
        <ul class="no_style">
          <li>
            <a href="http://admission.ug.edu.gh/applying/undergraduate/overview"
              >Undergraduate</a
            >
          </li>
          <li>
            <a href="http://admission.ug.edu.gh/applying/postgraduate/overview"
              >Graduate</a
            >
          </li>
          <li>
            <a href="http://admission.ug.edu.gh/applying/international/overview"
              >International Students</a
            >
          </li>
          <li><a href="/entry">Entry Requirements</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer_el aca">
        <p class="_header">Research</p>
        <hr />
        <ul class="no_style">
          <li><a href="/research-dcs">Research at DCS</a></li>
          <li><a href="/research-impact">Research Impact</a></li>
          <li><a href="http://balme.ug.edu.gh/">Libraries</a></li>
        </ul>
      </div>

      <div class="footer_el aca">
        <p class="_header">About The Department</p>
        <hr />
        <ul class="no_style">
          <li><a href="/about">Introducing DCS</a></li>
          <li><a href="/officehod">Head of Department's office</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </div>

      <div class="new_letter footer_el">
        <p class="_header">Newsletter</p>
        <hr />
        <p class="mt-1rem color-white">Subscribe to our monthly new letter</p>
        <div id="new_letter">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
          <button type="button" class="color-white">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>

      <div class="new_letter footer_el">
        <p class="_header">Contact Us</p>
        <hr />
        <ul class="no_style">
          <li>
            <i class="fa-solid fa-phone"></i>
            <span>+233 501 382 035</span>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <span> +233 559 145 698</span>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <span>dcs@ug.edu.gh</span>
          </li>
        </ul>
      </div>

      <div class="new_letter footer_el">
        <p class="_header">Contact Us</p>
        <hr />
        <ul class="no_style">
          <li>University Of Ghana, Legon Campus</li>
          <li>Opposite Mathematics Department</li>
        </ul>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../index.js" type="module"></script>
  </body>
</html>
