<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About CS Department | University Of Ghana</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script
      src="https://kit.fontawesome.com/e9f5458810.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/news.css" />
    <link rel="stylesheet" href="../assets/css/event.css" />
    <link rel="stylesheet" href="../assets/css/mediaquery.css" />
  </head>
  <body>
    <!-- Navigation bar starts here -->
    <header id="header" class="unscroll">
      <button id="nav-toggler">
        <i class="fa-solid fa-bars"></i>
      </button>
      <nav id="desktop-nav" class="nav">
        <ul>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="./about.html"> About </a>
          </li>
          <li>
            <a href="./contacts.html"> Contact </a>
          </li>
          <li>
            <a href="./news.html"> News </a>
          </li>
          <li>
            <a href="../index.html">
              <img
                src="../assets/images/ug_logo.png"
                alt="ug_log"
                id="_logo_ug"
              />
            </a>
          </li>
          <li>
            <a href="./events.html"> events </a>
          </li>
          <li>
            <a href="./researchs.html"> Research </a>
          </li>
          <li>
            <a href="./catalog.html"> Catalogs </a>
          </li>
          <li>
            <a href="./resources.html"> Resources </a>
          </li>
        </ul>
      </nav>
      <a href="../index.html">
        <img src="../assets/images/ug_logo.png" alt="ug_log" id="mb_ug_logo" />
      </a>
      <nav id="mobile-nav" class="nav">
        <ul>
          <button id="close-btn" type="button">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <li>
            <a href="../index.html"> Home </a>
          </li>
          <li>
            <a href="./about.html"> About </a>
          </li>
          <li>
            <a href="./contacts.html"> Contact </a>
          </li>
          <li>
            <a href="./news.html"> News </a>
          </li>

          <li>
            <a href="./events.html"> events </a>
          </li>
          <li>
            <a href="./researchs.html"> Research </a>
          </li>
          <li>
            <a href="./catalog.html"> Catalogs </a>
          </li>
          <li>
            <a href="./resources.html"> Resources </a>
          </li>
        </ul>
      </nav>
      <button type="button" id="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </header>
    <!-- Navigation bar ends here -->
    <section id="hero" class="_news_hero">
      <div id="overlay-bg" class="news">
        <h1 class="text-center">OUR RESEARCH AND IMPACTS</h1>
      </div>
    </section>

    <main>
      <section id="overview">
        <section id="overview_text" class="news">
          <h2>Our Research Initiatives and Global Impacts</h2>
          <p>
            Explore innovative research with real-world impact at the University
            of Ghana's Computer Science Department. Our diverse projects
            influence industries and society, driving meaningful change.
          </p>
        </section>
      </section>

      <section id="current_new" class="research">
        <h2 class="_event_h2">Research Projects</h2>
        <p>Exciting research projects coming soon! Stay tuned for our upcoming
          updates.</p>
      </section>

      
    </main>

    <footer>
      <div class="footer_el aca">
        <p class="_header">Academics</p>
        <hr />
        <ul class="no_style">
          <li><a href="/undergrad-course">Undergraduate Courses</a></li>
          <li>
            <a href="/mphil-course">Graduate Courses(MPhil Computer Science)</a>
          </li>
          <li>
            <a href="/msc-course">Graduate Courses(MSc Computer Science)</a>
          </li>
          <li><a href="/phd-course">Graduate Courses(PhD)</a></li>
          <li>
            <a href="https://www.ug.edu.gh/academics/calendar"
              >Academic Calendar</a
            >
          </li>
          <li>
            <a
              href="img/_DEPARTMENT OF COMPUTER SCIENCE, UG - 200 &amp; 300.pdf"
              >Level 200 &amp; 300 Timetable</a
            >
          </li>
          <li>
            <a href="img/_Placements lvl200.pdf"
              >Placements For Level 200 Students</a
            >
          </li>
          <li>
            <a href="https://forms.gle/smoyM5M3HWaayagk7"
              >Student Complaint Form</a
            >
          </li>
        </ul>
      </div>

      <div class="footer_el aca">
        <p class="_header">Admissions</p>
        <hr />
        <ul class="no_style">
          <li>
            <a href="http://admission.ug.edu.gh/applying/undergraduate/overview"
              >Undergraduate</a
            >
          </li>
          <li>
            <a href="http://admission.ug.edu.gh/applying/postgraduate/overview"
              >Graduate</a
            >
          </li>
          <li>
            <a href="http://admission.ug.edu.gh/applying/international/overview"
              >International Students</a
            >
          </li>
          <li><a href="/entry">Entry Requirements</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

      <div class="footer_el aca">
        <p class="_header">Research</p>
        <hr />
        <ul class="no_style">
          <li><a href="/research-dcs">Research at DCS</a></li>
          <li><a href="/research-impact">Research Impact</a></li>
          <li><a href="http://balme.ug.edu.gh/">Libraries</a></li>
        </ul>
      </div>

      <div class="footer_el aca">
        <p class="_header">About The Department</p>
        <hr />
        <ul class="no_style">
          <li><a href="/about">Introducing DCS</a></li>
          <li><a href="/officehod">Head of Department's office</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/events">Events</a></li>
        </ul>
      </div>

      <div class="new_letter footer_el">
        <p class="_header">Newsletter</p>
        <hr />
        <p class="mt-1rem color-white">Subscribe to our monthly new letter</p>
        <div id="new_letter">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
          <button type="button" class="color-white">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>

      <div class="new_letter footer_el">
        <p class="_header">Contact Us</p>
        <hr />
        <ul class="no_style">
          <li>
            <i class="fa-solid fa-phone"></i>
            <span>+233 501 382 035</span>
          </li>
          <li>
            <i class="fa-solid fa-phone"></i>
            <span> +233 559 145 698</span>
          </li>
          <li>
            <i class="fa-solid fa-envelope"></i>
            <span>dcs@ug.edu.gh</span>
          </li>
        </ul>
      </div>

      <div class="new_letter footer_el">
        <p class="_header">Contact Us</p>
        <hr />
        <ul class="no_style">
          <li>University Of Ghana, Legon Campus</li>
          <li>Opposite Mathematics Department</li>
        </ul>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="../index.js" type="module"></script>
  </body>
</html>
